html{
    font-size: 62.5%;
    box-sizing: border-box;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.6rem;
}

.header_con{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    font-size: 2rem;
}
.header_rigth{
    display: flex;
    margin-left: 60%;
    margin-top: 2rem;
    border: 0.1rem solid gray;
    height: 2.8rem;
    text-align: center;
    width: 20rem;
    padding: 0.1rem;
    border-radius: 20rem;
}

input{
    border: none;
    box-sizing: border-box;
    width: 100%;
}

button{

    height: 3.2rem;
    margin-top: 2rem;
    margin-left: 1%;
    border-radius:1rem;
    background-color: #b9b93b;
    cursor: pointer;
}

nav{
    margin-left: 4rem;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

.mensaje{
    text-align: center;
    margin-top: 5rem;
}
.linea{
    padding: 1rem;
    border-bottom: 0.1rem solid #003f13;
    width: 50%;
    margin-left: 25%;
}

.content_total{
    border: 0.1rem solid #003f13;
    margin-top: 3rem;
    width: 80%;
    margin-left: 10%;
    height: 60rem;
}

.content_img{
    border: 0.1rem solid #003f13;
    margin: 10rem;
    width: 40%;
    height:40rem ;
}

.img_product{
    margin-left: 2rem;
    position: absolute;
}

.in_img{
    display: flex;
    justify-content: center;
    margin-top: 50%;
    position: relative;
    font-size: 1.5rem;
}

form{
    margin-left: 50%;
    margin-top: -40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    gap: 0.5rem;
}

.text{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    border-radius: 10rem;
    height: 3rem;
    width: 25rem;
    margin-top: 1rem;
}

.input label {
    margin-bottom: -2rem; /
}

